<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Scarlett & Jake</h1>
            <h3 style="font-family: 'Playfair Display', serif; font-weight: 400; font-style: italic;">from High School Sweethearts to Lifetime Partners</h3>
            <hr>
            <p style="font-size: 2em;">July 10, 2020 &bull; 6:30pm</p>
            <a href="#venue" class="btn btn-primary btn-xl page-scroll">Venue</a> &nbsp;&nbsp;&nbsp; <a href="#rsvp" class="btn btn-primary btn-xl page-scroll">RSVP</a>&nbsp;&nbsp;&nbsp; <a href="#registry" class="btn btn-primary btn-xl page-scroll">Registry</a>
        </div>
    </div>
</header>
