<section class="min-padding bg-primary" id="registry">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Gift Registries</h2><hr class="light">
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-3 col-sm-6">
                <a href="https://www.target.com/gift-registry/giftgiver?registryId=0b2b21000f7742a5b206984af4529a9e&type=WEDDING" target="_blank"><img class="registry_logo" src="img/Target_White.png" alt="Target Registry"></a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://www.amazon.com/wedding/registry/31NIFM5NVU7P1?" target="_blank"><img class="registry_logo" src="img/Amazon_whitepng.png" alt="Amazon Registry"></a>
            </div>
        </div>
    </div>
</section>
