<section class="bg-primary" id="venue">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="section-heading"><a style="color: #fff" href="http://rosemary-ridge.com" target="_blank">Rosemary Ridge</a></h2>
                <hr class="light">
                <p class="text-faded">15205 West 6th Street <br />Orlando, OK 73073</p>
            </div>
            <div class="col-lg-6 text-center">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.11493731698!2d-97.27611418472927!3d36.115057480095444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b1bcb0fa577c29%3A0x14999cd537e6389c!2sRosemary%20Ridge%20Event%20Venue!5e0!3m2!1sen!2sus!4v1583812743837!5m2!1sen!2sus" width="500" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>
